<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NET_BANKING</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe</display-name>
    <servlet-name>CustomerAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe</servlet-name>
    <url-pattern>/CustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdServe</display-name>
    <servlet-name>CustomerUpdServe</servlet-name>
    <servlet-class>master.servlet.CustomerUpdServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdServe</servlet-name>
    <url-pattern>/CustomerUpdServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDelServe</display-name>
    <servlet-name>CustomerDelServe</servlet-name>
    <servlet-class>master.servlet.CustomerDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDelServe</servlet-name>
    <url-pattern>/CustomerDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountAddServe</display-name>
    <servlet-name>AccountAddServe</servlet-name>
    <servlet-class>master.servlet.AccountAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountAddServe</servlet-name>
    <url-pattern>/AccountAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUpdServe</display-name>
    <servlet-name>AccountUpdServe</servlet-name>
    <servlet-class>master.servlet.AccountUpdServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUpdServe</servlet-name>
    <url-pattern>/AccountUpdServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDelServe</display-name>
    <servlet-name>AccountDelServe</servlet-name>
    <servlet-class>master.servlet.AccountDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDelServe</servlet-name>
    <url-pattern>/AccountDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServe</display-name>
    <servlet-name>LoginServe</servlet-name>
    <servlet-class>master.servlet.LoginServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServe</servlet-name>
    <url-pattern>/LoginServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementServe</display-name>
    <servlet-name>StatementServe</servlet-name>
    <servlet-class>master.servlet.StatementServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementServe</servlet-name>
    <url-pattern>/StatementServe</url-pattern>
  </servlet-mapping>
</web-app>